{% extends 'MCQ_Test/adminbase.html' %}
{% load static %}

{% block content %}
<div class="py-3">


<div class=" container-fluid">
<div class="text-center text-success">
<h5>STUDENTS</h5>
<hr class="bg-info">
</div>
{% if stu %}
<table class="table">
  <thead class="bg-success text-white">
    <tr>
      <th scope="col">S/N</th>
      <th scope="col">Username</th>
      <th scope="col">Name</th>
      <th scope="col">Mobile</th>
      <th scope="col">Email</th>
      <th scope="col">Password</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
  {% for s in  stu %}
    <tr>
      <th scope="row">{{s.id}}</th>
      <td>{{s.username}}</td>
      <td>{{s.name}}</td>
      <td>{{s.mobile}}</td>
      <td>{{s.email}}</td>
      <td>{{s.password}}</td>
      <td>
          <a href="{% url 'editstudent' s.id %}" class='btn btn-warning btn-sm'>Edit</a>
          <form action="{% url 'deletestudent' s.id %}" method="POST" class='d-inline'>
            {% csrf_token %}
            <input type="submit" class="btn btn-danger btn-sm" value="Delete">
          </form>
      </td>
    </tr>
  {% endfor %}
    
  </tbody>
</table>
{% endif %}
</div>
</div> 

{% endblock content %}