{% extends 'MCQ_Test/base.html' %}

{% block content %}

  
    
<div class="container py-5">
        <div class="row justify-content-center align-items-center ">
      
          <div class="col-md-6 " style="background-color: rgb(227, 239, 250);">
                   
              <div class="col-md-12 py-4">
                  <div class="text-center text-info" >
                      <h4> Contact Us </h4>
                      
                  </div>
                      <hr class="bg-info">
                      {% for message in messages %}
                        <div class="alert {{ message.tags }} alert-dismissible" role="alert">
                          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                          {{ message }}
                        </div>
                      {% endfor %}
                           <form action="{% url 'Contactpath'%}" method="POST">
                            {% csrf_token %}
                
                            <div class="form-group">
                              <label for="exampleInputPassword1">Name</label>
                              <input type="text" class="form-control" name="uname" Required placeholder="Enter your name">
                            </div>
                            <div class="form-group">
                              <label for="exampleInputPassword1">Email</label>
                              <input type="email" class="form-control" name="uemail" Required placeholder="Enter your email">
                            </div>
                            <div class="form-group">
                              <label for="exampleInputPassword1">Mobile No. </label>
                              <input type="number" class="form-control" name="umobile"Required placeholder="Mobile Number">
                            </div>
                            <div class="form-group">
                                <label for="comment">Massage</label>
                                <textarea class="form-control" rows="4" name="msg" placeholder="Enter you concern"></textarea>
                            </div>

                            <button type="submit" class="btn btn-primary">Send</button>
                             
                          </form>

                          <div class='col-sm-4'>
            
                          </div>   
                          
                      </div>
                      
                      
                   </div>  
            </div>
        </div>
        
      </div>
              
    

{% endblock content %}