{% extends 'MCQ_Test/base.html' %}
{% load static %}

{% block h %} active{% endblock h %}
{% block content %}


<div class="container py-5 z-depth-1">
 
 
    <!--Section: Content-->
    <section class=" text-center text-lg-left dark-grey-text">

      <!--Grid row-->
      <div class="row">

        <!--Grid column-->
        <div class="col-md-6 mb-4 py-4 mb-md-0">

          <h3 class="font-weight-bold">MCQ TEST</h3>
          <hr class="bg-info">
          <p class="text-muted">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Id quam sapiente
            molestiae
            numquam quas, voluptates omnis nulla ea odio quia similique corrupti magnam, doloremque laborum.</p>

            <a href="{% url 'studentlogin'%}" type="button" class="btn btn-success"> Student Login</a>
            <a href="{% url 'teacherlogin'%}" type="button" class="btn btn-info">Teacher Login</a>

        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-md-6 mb-4 mb-md-0">

          <!--Image-->
          <div class="view overlay z-depth-1-half">
            <img src="{%  static 'MCQ_Test/images/1.jpg' %}" class="img-fluid"
              alt="">
            
          </div>

        </div>
        <!--Grid column-->

      </div>
      <!--Grid row-->


    </section>
    <!--Section: Content-->
    

  </div>




  <div class="container py-4  z-depth-1">

    <style>
      .w-200 {
        width: 200px;
      }
    </style>
    
    <!--Section: Content-->
    <section class="team-section text-center dark-grey-text">
      <h2 class="font-weight-bold text-center dark-grey-text pb-2">Our Team</h2>
      <hr class="bg-info" >
      <!-- Section description -->
      <!-- Grid row -->
      <div class="row p-1">
  
        <!-- Grid column -->
        <div class="col-md-6 mb-6">
  
          <div class="w-200 mx-auto mb-6">
            <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(2).jpg" class="z-depth-1 rounded-circle img-fluid" alt="smaple image">
          </div>
          <h6 class="font-weight-bold">Alicia Deyns</h6>
          <small class="text-muted">Co-funder & CEO</small>
          <p class="mt-3 mb-4 text-muted">Sed ut perspiciatis unde omnis natus accusantium.</p>
          <ul class="list-unstyled d-flex justify-content-center mt-3 mb-0 red-text">
            <li><i class="fab fa-linkedin-in mx-2"></i></li>
          </ul>
  
        </div>
        <!-- Grid column -->
        
        <!-- Grid column -->
        <div class="col-md-6 mb-6">
  
          <div class="w-200 mx-auto mb-6">
            <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(15).jpg" class="z-depth-1 rounded-circle img-fluid mx-auto" alt="smaple image">
          </div>
          <h6 class="font-weight-bold">Kate Witson</h6>
          <small class="text-muted">Lead Developer</small>
          <p class="mt-3 mb-4 text-muted">Sed ut perspiciatis unde omnis natus accusantium.</p>
          <ul class="list-unstyled d-flex justify-content-center mt-3 mb-0 red-text">
            <li><i class="fab fa-twitter mx-2"></i></li>
            
          </ul>
  
        </div>
        <!-- Grid column -->
        
        <!-- Grid column -->
        
        <!-- Grid column -->
  
      </div>
      <!-- Grid row -->
      
    </section>
    <!--Section: Content-->
  
  
  </div>      









{% endblock content %}


