{% extends 'Student/studentbase.html' %}
{% load static %}

{% block content %}

<div class="container py-5">
        <div class="row justify-content-center align-items-center ">
      
          <div class="col-md-7 font-weight-bold " style="background-color: rgb(227, 239, 250);">
                   
              <div class="col-md-12 py-3">
                  <div class="text-center text-info" >
                      <h4><b>Test Result</b></h4>
                      
                  </div>
                      <hr class="bg-info">
                        <div class="card">
                            <div class="p-4  "> 
                                    <li class="list-group-item list-group-item-success">Correct Answer : {{cas}}</li>
                                    <li class="list-group-item list-group-item-danger">Wrong Answer : {{was}}</li>
                                    <li class="list-group-item list-group-item-info">Your Score : {{sc}}</li>
                                      
                            </div>    
                        </div>

                            
                        
                        <div class="mt-3 text-center">
                            <a class="btn btn-info" href="{% url 'studentdash' %}">Back to Dashboard</a>
                         </div>       
                          
                      </div>
                      
                      
                   </div>  
            </div>
        </div>
        
      </div>

{% endblock content %}