{% extends 'Student/studentbase.html' %}
{% load static %}

{% block content %}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>



<script>
    $(document).ready(function(){
    $("#b1").click(function(){
        $(".rb").show();
        $(".rb").attr("disabled",true);


    });
    });


        function getanswers(ans,m)
        {
            var total=400;
            document.getElementById("UserAnswers").innerHTML = "";
            document.getElementById("mark").value = total;
            var e = document.getElementsByTagName("input");
            
            for(i = 0 ; i<=e.length;i++)
            {
                if(e[i].type=="radio")
                {
                    if(e[i].checked)
                    {
                        document.getElementById("UserAnswers").innerHTML+="Q "+e[i].name + " The Answers You Are Selected Is : "+e[i].value+" "+ans+" " +total+"<br>";
                        
                    }
                }
            }
            return total;

        }
    </script>

<div class="container py-4">
        <div class="row justify-content-center align-items-center ">
      
          <div class="col-md-12 " style="background-color: rgb(227, 239, 250);">
                   
              <div class="col-md-12 py-4">
                  <div class="text-center text-info" >
                      <h4> Question Paper</h4>
                  </div>
                  <hr class="bg-info">

                  <div class="px-5 py-3" style="border: 0.6px solid DodgerBlue;">

                        {% for i in  ftt %}
                                <form action="{% url 'examresult'%}" method="POST">
                                     {% csrf_token %}
                                    <table>
                                        <tr>
                                            <td class="text-primary">{{i.id}} ) {{i.question}} ?</td>
                                        </tr>
                                        <tr>
                                            <td><input type = "radio" class="rb" name = {{i.id}} id="option1" value="{{i.option1}}">{{i.option1}}</td>
                                        </tr>
                                        <tr>
                                            <td><input type = "radio" class="rb" name = {{i.id}} id="option2" value="{{i.option2}}">{{i.option2}}</td>
                                        </tr>
                                        <tr>
                                            <td><input type = "radio" class="rb" name = {{i.id}} id="option3" value="{{i.option3}}">{{i.option3}}</td>
                                        </tr>
                                        <tr>
                                            <td><input type = "radio" class="rb" name = {{i.id}} id="option4" value="{{i.option4}}">{{i.option4}}</td>
                                        </tr>

                                        <tr>
                                            <td><label id="answer" class= "rb" style="display:none ; color : green"><b>Correct Answer :</b>{{i.answer}}</label></td>
                                        </tr>

                                    </table>
                                <hr>

                                    {% endfor %}

                                        <input type="text" id="mark" name="mark" style="display:none ;">
                                    <input type="submit"  class="btn btn-success" value="Submit" id="b1" onclick="return getanswers(answers = [{% for q in ftt %}'{{ q.answer }}',{% endfor %}],m = [{% for m in ftt %}'{{ m.marks }}',{% endfor %}])">
                                    <br>
                                    <b id="UserAnswers"></b>
                                </form>


                  </div>          
                 </div> 
                       
                      
                      
                    
            </div>
        </div>
        
      </div>

      


{% endblock content %}