{% extends 'Student/studentbase.html' %}
{% load static %}

{% block content %}

<div class="container py-5">
        <div class="row justify-content-center align-items-center ">
      
          <div class="col-md-6 " style="background-color: rgb(227, 239, 250);">
                   
              <div class="col-md-12 py-5">
                  
                     
                      <div class="card bg-info text-info font-weight-bold" >
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Name : {{pr.name}}</li>
                            <li class="list-group-item">Username : {{pr.username}}</li>
                            <li class="list-group-item">Email : {{pr.email}} </li>
                            <li class="list-group-item">Mobile No : {{pr.mobile}}</li>
                        </ul>
                        </div>
                           

                             
                          
                      </div>
                      
                      
                   </div>  
            </div>
        </div>
        
      </div>

{% endblock content %}