{% extends 'Student/studentbase.html' %}
{% load static %}

{% block content %}
<div class="p-5">
<div class="container p-4" style=" background-color:#e6f2ff">
    <div class="row">
        <div class="col-md-12 text-center text-info">
            <h5> MCQ Test Paper</h5>
            <hr>
        </div>
        <div class="col-md-3 py-2">
            <a href="" class="card text-white text-center bg-info ">
                <div class="card-body">
                    <h5 >Java</h5>
                </div>
            </a>
        </div>
        <div class="col-md-3 py-2">
            <a href="" class="card text-white text-center bg-info ">
                <div class="card-body">
                    <h5 >Python</h5>
                </div>
            </a>
        </div>
        <div class="col-md-3 py-2">
            <a href="" class="card text-white text-center bg-info ">
                <div class="card-body">
                    <h5 >Mathematics</h5>
                </div>
            </a>
        </div>
        <div class="col-md-3 py-2">
            <a href="" class="card text-white text-center bg-info " >
                <div class="card-body">
                    <h5 >Computer</h5>
                </div>
            </a>
        </div>
    </div>    
 </div> 
 </div>       


{% endblock content %}


